* {
    vertical-align: middle
}

#math-field {
    border-color: #fff
}

body {
    text-align: center;
    transform: scale(2);
    background-color: #f8f8f8;
    overflow-x: hidden
}

.math-content {
    display: block;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    overflow: visible !important;
    width: 100vw
}

big {
    font-size: 1.7em !important;
    font-stretch: 1% !important
}

html {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center
}

#arr {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0
}

.mq-selection {
    fill: #fff
}

.text-normalize {
    font-style: normal !important
}